<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.desc }}">

    <!-- Favicon 16, 32, 64 -->
    <link rel="icon" href="/icons/favicon.ico">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="preload" href="/css/main.css" as="style" crossorigin>
    <link rel="stylesheet" href="/css/main.css">
</head>