<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.desc }}">

  <!-- Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon 16, 32, 64 -->
  <link rel="icon" href="/icons/favicon.ico">

  {% include analytics.html %}

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>